@font-face {
    font-family: letraVerde;
    src: url(../assets/fonts/Montserrat/static/Montserrat-Black.ttf);
}

@font-face {
    font-family: letraSubTitulo;
    src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}